@import 'tailwindcss/base';

/* start base styles ----------------- */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

/* * + * {
  @apply mt-6;
} */

/* structure */
html {
  @apply font-sans;
  @apply text-base;
  @apply antialiased;
  @apply leading-normal;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  @apply p-3;
}

/* typography */
h1,
h2,
h3 {
  @apply font-semibold;
  @apply leading-none;
  @apply mb-6;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

p {
  @apply max-w-xl;
  @apply mb-6;
}

a {
  @apply border-green-500;
  @apply border-solid;
  @apply border-b-2;
  transition: 0.3s all ease;
}

a:hover,
a:focus,
a:active {
  @apply bg-green-200;
  transition: 0.3s all ease;
}
/* end base styles ----------------- */

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
