@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* structure */
html {
  @apply font-sans;
  @apply text-base;
  @apply antialiased;
  @apply leading-normal;
  @apply text-gray-800;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  @apply p-3;
}

article {
  @apply max-w-xl;
  @apply mx-auto;
}

/* typography */
h1,
h2 {
  @apply text-center;
  @apply font-semibold;
  @apply leading-none;
  @apply tracking-tight;
  @apply mb-6;
  @apply text-green-800;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

p {
  @apply max-w-xl;
  @apply mb-6;
}

p a,
li a {
  @apply border-green-500;
  @apply border-solid;
  @apply border-b-2;
  transition: 0.3s all ease;
}

p a:hover,
/* p a:focus, */
p a:active,
li a:hover,
/* li a:focus, */
li a:active {
  @apply bg-green-200;
  transition: 0.3s all ease;
}

/* forms */
input {
  @apply shadow-inner;
  @apply border;
  @apply border-gray-400;
  @apply bg-gray-100;
}

button {
  @apply px-2;
  @apply px-3;
  @apply bg-green-500;
  @apply text-white;
  @apply font-semibold;
}
